__pycache__/
*.py[cod]
*.$py.class

*/__pycache__/

data_processed/
results/

*.ipynb
run_hyper.py
plot_feat.py

rev_results/
rev_results_ext/
ab_results/
*.csv
results_avg_loss/
results_hs/
plots/
checkpoints/
bestmodels/

run_ab.py
run_rand.py

plot_data.txt

eff_eff_data.txt